<div class="front-page">
    <h1 class="front-page-title">Guitars<h1>
</div>
<div class="panel-body">
  <div class="category-tile">
    <div class="cat-tile-title">Electric Guitars</div>
    <div class="tile-body">
      <img src="http://thehub.musiciansfriend.com/images/guitarsguide/squier-mini-strat-electric-guitar-800x280.jpg">
    </div>
  </div>
</div>
