<div class="front-page">
  <div class="front-page-title-bar">
    <h1 class="front-page-title">Guitars<h1></div>
      <div class="panel-body">
        <div class="category-tile">
          <div class="cat-tile-title">Electric Guitars</div>
          <div class="tile-body">
            <img src="http://esq.h-cdn.co/assets/cm/15/06/54d1dcc12bb55_-_aficionado-5rykxg-cover.jpg">
          </div>
        </div>
        <div class="category-tile">
          <div class="cat-tile-title">Acoustic Guitars</div>
          <div class="tile-body">
            <img src="https://www.yamahamusiclondon.com/sites/ymlv5.19/productimages/900x900/YAM-APX500III-SUPER.jpg">
          </div>
        </div>
      </div>

      <div class="front-page-title-bar">
        <h1 class="front-page-title">Hardware<h1></div>
          <div class="panel-body">
            <div class="category-tile">
              <div class="cat-tile-title">Amplifiers</div>
              <div class="tile-body">
                <img src="https://heavyeditorial.files.wordpress.com/2016/08/smallcombos.jpg?quality=65&strip=all&strip=all">
              </div>
            </div>
            <div class="category-tile">
              <div class="cat-tile-title">Pedals</div>
              <div class="tile-body">
                <img src="https://heavyeditorial.files.wordpress.com/2016/06/distortion1.jpg?quality=65&strip=all">
              </div>
            </div>
          </div>

          <div class="front-page-title-bar">
            <h1 class="front-page-title">Accessories<h1></div>
              <div class="panel-body">
                <div class="category-tile">
                  <div class="cat-tile-title">Guitar Cases</div>
                  <div class="tile-body">
                    <img src="http://images.epiphone.com.s3.amazonaws.com/Site-Images/New-Features/caseheader.jpg">
                  </div>
                </div>
                <div class="category-tile">
                  <div class="cat-tile-title">Strings</div>
                  <div class="tile-body">
                    <img src="https://ae01.alicdn.com/kf/HTB1Uy0VOXXXXXbLapXXq6xXFXXXm/6-Pcs-Copper-Tone-As-12-Acoustic-font-b-Guitar-b-font-font-b-Strings-b.jpg">
                  </div>
                </div>
              </div>
            </div
