<div class="front-page">
    <h1 class="front-page-title">Guitars<h1>
</div>
  <div class="panel-body">
    <div class="category-tile">
      <div class="cat-tile-title">Electric Guitars</div>
      <div class="tile-body">
        <img src="http://esq.h-cdn.co/assets/cm/15/06/54d1dcc12bb55_-_aficionado-5rykxg-cover.jpg">
      </div>
    </div>
      <div class="category-tile">
        <div class="cat-tile-title">Acoustic Guitars</div>
        <div class="tile-body">
          <img src="https://www.yamahamusiclondon.com/sites/ymlv5.19/productimages/900x900/YAM-APX500III-SUPER.jpg">
        </div>
      </div>
  </div>
