@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

// Style for searchbar

.search-bar {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 12px;
  border: 2px solid black;
  border-radius: 5%;
}

// Style for magnifying glass

.glass {
  width: 175px;
  height: 175px;
  position: absolute;
  border-radius: 50%;
  cursor: crosshair;

  /* Multiple box shadows to achieve the glass effect */
  box-shadow:
    0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25),
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

  /* hide the glass by default */
  display: none;
}

.error {
  background-color: grey;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  padding: 7px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}





// Style for cart


.navbar-right {
  position: relative;
    a {
      color: #fff;
      text-decoration: none;
    }
    &:hover {
      color: #777;
    }
}


.circle {
    background-color: #6394F8;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    -moz-transition: all 1s;     /* Firefox 4 */
    -webkit-transition: all 1s;  /* Safari and Chrome */
    -o-transition: all 1s;       /* Opera */
    -ms-transition: all 1s;      /* IE10+ */
    transition: all 1s;          /* W3C */
}

.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

@import "footer";
@import "devise";
@import "home";
@import "navbar";
@import "products_index";
@import "product";


// font-family: 'Coda', cursive;
// font-family: 'Cherry Swash', cursive;
// font-family: 'Corben', cursive;
// font-family: 'Sonsie One', cursive;
// font-family: 'Cinzel', serif;
// font-family: 'Racing Sans One', cursive;
// font-family: 'Oleo Script Swash Caps', cursive;

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: transparent;
  min-height: 100%;
  margin-bottom: 140px;
}

.standard-bg {
  background-color: white;
}

// .product {
//   display: flex;
//   justify-content: space-around;
// }
//
// .product-name {
//   font-family: Helvetica;
//   color: blue;
//   font-size: 30px;
// }
//
// .product-img-show img {
//   max-height: 800px;
//   max-width: 800px;
// }
//
// .product-img-index img {
//   max-height: 300px;
//   max-width: 300px;
// }
