@import "bootstrap-sprockets";
@import "bootstrap";
@import "footer";
@import "devise";
@import "home";
@import "navbar";

// font-family: 'Coda', cursive;
// font-family: 'Cherry Swash', cursive;
// font-family: 'Corben', cursive;
// font-family: 'Sonsie One', cursive;
// font-family: 'Cinzel', serif;
// font-family: 'Racing Sans One', cursive;
// font-family: 'Oleo Script Swash Caps', cursive;

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: transparent;
  min-height: 100%;
  margin-bottom: 140px;
}

.standard-bg {
  background-color: white;
}

.panel-body {
  display:flex;
  justify-content: space-between;
  background-color: rgba(195,195,195,0.9);
  margin-top: -16px;
  width: auto;
  height: 330px;
}

.cat-tile-title {
  display:flex;
  justify-content: center;
  font-family: 'Racing Sans One', cursive;
  font-size: 30px;
  background-color: gray;
}

.tile-body  {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.tile-body  img {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 10px;
  max-width: 100%;
  max-height: 100%;
}

.category-tile {
  width: 350px;
  height: 450px;
}

.product {
  display: flex;
  justify-content: space-around;
}

.product-name {
  font-family: Helvetica;
  color: blue;
  font-size: 30px;
}

.product-img-show img {
  max-height: 800px;
  max-width: 800px;
}

.product-img-index img {
  max-height: 300px;
  max-width: 300px;
}
