// font-family: 'Coda', cursive;
// font-family: 'Cherry Swash', cursive;
// font-family: 'Corben', cursive;
// font-family: 'Sonsie One', cursive;
// font-family: 'Cinzel', serif;
// font-family: 'Racing Sans One', cursive;
// font-family: 'Oleo Script Swash Caps', cursive;



// buy buttonm
.buy-button {
  border-top: 4px solid grey;
  border-left: 4px solid grey;
  border-bottom: 4px solid grey;

  border-radius: 3%;
}

.product-details{
  color: #224466;
  font-family: sans-serif;
  font-weight: bold;
}
//



.show img {
  max-height:450px;
  width: auto;
  border: 5px solid grey;
  border-radius: 2%;
}

.show-top{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.show-top-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.show-top-right {
  font-family: 'Coda', cursive;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: flex-start;
  max-width: 400px;
}

.product-show-container {
  margin-top: 20px;
}

.description {
  font-family: serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  border: 3px solid rgba(white, 0.5);
  border-radius: 1%;
}
